<div class="banner">
	{{ProjectTitle}}
</div>
<div class="projectPlatform">
	<div class="projectTile">
		<!--<img src="images/profile_pic.jpg" alt="Its me">-->
		<div class="projectHeader">{{PacMan}}</div>
		<div class="projectDescription"><p id="projectBlurb">{{PacManDescription}}</p>
		</div>
		<div class="projectLinks">
			<ul class="soc">
				<li><a class="soc-github soc-icon-last" href="https://github.com/gbajorin/" target="_blank"></a></li>
			</ul>
		</div>
	</div>
	<div class="projectTile">
		<!--<img src="images/profile_pic.jpg" alt="Its me">-->
		<div class="projectHeader">{{GoTA}}</div>
		<div class="projectDescription"><p id="projectBlurb">{{GoTADescriptionP1}}
		<a id="GoTA" href="https://en.wikipedia.org/wiki/Game_of_the_Amazons" target="_blank">{{GoTAWiki}}</a>
		{{GoTADescriptionP2}}</p>
		</div>
		<div class="projectLinks">
			<ul class="soc">
				<li><a class="soc-github soc-icon-last" href="https://github.com/gbajorin/" target="_blank"></a></li>
			</ul>
		</div>
	</div>
	<div class="projectTile">
		<!--<img src="images/profile_pic.jpg" alt="Its me">-->
		<div class="projectHeader">{{MIPS}}</div>
		<div class="projectDescription"><p id="projectBlurb">{{MIPSDescription}}</p>
		</div>
		<div class="projectLinks">
			<ul class="soc">
				<li><a class="soc-github soc-icon-last" href="https://github.com/gbajorin/" target="_blank"></a></li>
			</ul>
		</div>
	</div>
</div>